.va-badge {
    position: relative;
    width: 3rem;
    height: 3rem;    
}

.va-badge.va-badge-xs {
    width: 2rem;
    height: 2rem;
}

.va-badge.va-badge-sm {
    width: 2.5rem;
    height: 2.5rem;
}

.va-badge.va-badge-lg {
    width: 3.5rem;
    height: 3.5rem;
}

.va-badge>img, .va-badge>img {
    display: block;
    width: 100%;
    height: 100%;
}

.va-badge > b {
    position: absolute;
    right: -0.5rem;
    top: -0.15rem;
    display: block;
    border-radius: 0.5rem;
    color: white;
    background-color: red;
    height: 1.06rem;
    min-width: 1.06rem;
    font-size: 0.7rem;
    font-style: normal;
    font-family: 'arial';
    text-align: center;
}
