ul.va-list {
    list-style: none;
    background-color: #f0f0f0;
    padding: 0;
    margin-bottom: -1px;
}
ul.va-list-top-border {
    padding-top: 1px;
}
ul.va-list>li {
    display: flex;
    margin-bottom: 1px;
    background-color: white;
}
ul.va-list>li.va-list-gap {
    background-color: transparent;
}
ul.va-list>li>div {
    flex: 1;
    display: flex;
    flex-direction: row;
}
ul.va-list>li.va-row-clickable {
    cursor: pointer;
}
ul.va-list>li>label {
    display: flex;
    flex:1;
    flex-direction: row;
    align-items: center;
    margin: 0 0 0 15px;
}
ul.va-list>li>label>label {
    display: flex;
    margin: 0 -15px 0 0;
    align-items: center;
}
ul.va-list>li>label>div {
    display: flex;
    flex:1;
}

li.va-list-before {
    color: green;
    font-size: 80%;
    padding: 8px 16px;
}
li.va-list-loading {
    color: black;
    font-size: 80%;
    padding: 1.5rem 1rem;
}
li.va-list-none {
    color: #e0e0e0;
    font-size: 80%;
    padding: 8px 16px;
}
li.va-list-header {
    padding: 4px 16px;
}
li.va-list-footer {
    padding: 4px 16px;
}
