html, body
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    background-color: lightblue;
}
.cursor-pointer {
  cursor: pointer;
}
div#root {
    width: 100%;
    height: 100%;
    align-self: center;
    display: flex;
    flex-direction: column;
}

main * {
    box-sizing: border-box;
}

body, body>div, ul.va, ul.va>li, article.page-container {
    display: flex;
    flex-direction: column;
    height:100%;
  }
  article.page-container {
    max-width: 860px;
    width: 100%;
    align-self: center;
  }
  div.va-tab>div {
    font-size: medium;
  }
  div.red-dot {
    position: relative;
  }
  div.red-dot>u {
    position: absolute;
    display: block;
    right: -12px;
    top: -2px;
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 4px;
    color: white;
    font-size: 12px;
    text-decoration: none;
  }
div.red-dot>u.message-dot {
    right: 6px;
    height: 6px;
    width: 6px;
    border-radius: 3px;
}
  div.red-dot.num>u {
    right: -20px;
    top: -6px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
  }
  ul.va {
      list-style: none;
      padding: 0;
      margin: 0;
      position: relative;
  }
  ul.va>li {
      padding: 0;
      margin: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
  }
  ul.va>li>iframe {
      height: 100%;
      border: none;
  }
  article.page-container>main {
      position: relative;
      flex: 100;
      background-color: #f0f0f0;
      /*overflow-x: hidden;
      overflow-y: auto;*/
  }
  article.page-container>header {
      position: relative;
      display: flex;
      flex-direction: row;
      min-height: 2.3em;
      background-color: #555;
      color: white;
      align-items: center;
      padding: 0px;
      min-height: 3rem;
  }
  article.page-container>header>header {
      cursor: pointer;
  }
  article.page-container>header>nav {
      display: flex;
      height: 2.3rem;
      cursor: pointer;
      width: 3rem;
      justify-content: center;
      align-items: center;
  }
  article.page-container>header>div {
      display: flex;
      flex: 1;
      height: 100%;
      align-items: center;
      justify-content: flex-start;
  }
  article.page-container>header>aside {
      right: 2px;
      min-width: 2.3rem;
      display: flex;
      height: 100%;
      align-items: stretch;
      justify-content: flex-end;
      padding: 2px;
  }
  article.page-container>header>aside .dropdown-toggle {
    font-size: 1.5rem;
    width: 1.5rem;
    padding: 0;
    color: white;
    background-color: #555;
    border-radius: none;
    border: none;
  }
  article.page-container>header>aside .dropdown-toggle::after {
    border: none;
    margin: 0;
  }
  article.page-container>footer {
    display: flex;
    padding: 2px 1px;
    min-height: 50px;
    border-top: solid 1px lightgray;
    background-color: #f8f8f8;
  }
  article.page-container>footer>div {
    display: flex;
    flex:1;
    flex-direction: row;
  }
  article.page-container>footer>div>div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
    text-align: center;
    color: #606060;
    margin: 0 1px;
    border: solid 1px #f0f0f0;
    font-size: 12px;
  }
  article.page-container>footer>div>div.cur {
    color: blue;
    font-weight: bold;
    background-color: white;
    border: solid 1px white;
  }
  
  article.page-container>section {
    position: relative;
    flex: 1;
    background-color: #f0f0f0;
  }
  article.page-container>section>main {
    position: absolute;
    left: 0;
    top: 0; 
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  } 
  article.page-container>div {
    display: flex;
    padding: 2px 1px;
    min-height: 50px;
    border-top: solid 1px lightgray;
    background-color: #f8f8f8;
    flex-direction: row;
  }
  article.page-container>div>div {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-basis: 80px;
    text-align: center;
    color: #606060;
    cursor: pointer;
    margin: 0 1px;
    border: solid 1px #f0f0f0;
    font-size: 12px;
  }
  article.page-container>div>div.cur {
    color: blue;
    font-weight: bold;
    background-color: white;
    border: solid 1px white;
  }
  ul.va>li.va-wait {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    background-color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  ul.va>li.va-wait1 {
    opacity: 0.1;
  }
  ul.va>li.va-wait2 {
    opacity: 0.5;
  }
  div.va-error {
    display: flex;
    position: absolute;
    left: 0;
    top: 10px;
    right: 0;
    bottom: 10px;
    height: calc(100%-40px);
    opacity: 0.5;
    background-color: white;
    align-content: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: red;
  }
  div.va-error>div>ul {
    font-size: smaller;
    list-style: none;
    margin: 0;
    padding: 0;
    border-top: 1px solid black
  }
  div.va-error>div>ul>li {
    display: flex;
    flex-direction: row;
    width: 100%;
    border-bottom: 1px solid lightgray;
  }
  div.va-error>div>ul>li>label {
    flex: 1;
    padding: 8px;
    min-width: 100px;
  }
  div.va-error>div>ul>li>div {
    flex: 4;
    padding: 8px;
    border-left: 1px solid lightgray;
  }
  
  div.va-list>div {
    display: flex;
    flex-direction: row;
    font-size: smaller;
    color: gray;
    padding: 4px 16px;
    align-items: flex-end;
  }
  div.va-list>div.full {
    padding-left: 0;
    padding-right: 0;
  }
  div.va-list>div>label {
    flex: 1;
    margin: 0;
  }
  div.va-list>ul {
    list-style: none;
    padding: 0;
  }
  div.va-list>ul>li.empty {
    font-size: smaller;
    color: gray;
    padding: 8px 16px;
    background-color: #fafafa;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #eaeaea;
    cursor: default;
  }
  div.va-list>ul>li.empty>section {
    display: flex;
    align-items: center;
  }
  div.va-list>ul>li.empty>section>span {
    flex: 1;
    font-size: smaller;
  }
  div.va-list div.va-list {
    cursor: default;
  }
  
  ul.va>li>article.app-container {
    position: relative; 
    height: 100%;
    padding: 0;
    margin: 0;
  }
  ul.va>li>article.app-container>span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0; 
    top: 0;
    width: 2.3em;
    height: 2.3em;
    background: lightgrey;
    opacity: 0.5;
    cursor: pointer;
  }
  ul.va>li>article.app-container>span>i {
    display: block;
  }
  ul.va>li>article.app-container>iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    margin: 0; 
    padding: 0;
  }
  @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  
  .rotate-center {
    -webkit-animation: rotate-center 1s infinite ease-in-out both;
            animation: rotate-center 1s infinite ease-in-out both;
  }
  